################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projektit/FileContentIndex/365d6b20-2f9d-41e5-a24d-de1a098331d4.vsidx
